@using AOMMembers.Web.ViewModels.Administration.ApplicationUsers
@model IEnumerable<ApplicationUserViewModel>

<p>
    <a asp-area="Administration" asp-controller="ApplicationUsers" asp-action="UpdateRoles">Актуализирай наличните роли</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Електронна поща на потребителя
            </th>
            <th>
                Действия с потребителя
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>            
            <td>
                <a asp-area="Administration" asp-controller="ApplicationUsers" asp-action="AddRoleToUser" asp-route-id="@user.Id">Добави роли</a>
                <a asp-area="Administration" asp-controller="ApplicationUsers" asp-action="RemoveRolesFromUser" asp-route-id="@user.Id">Премахни ролите</a>
                <a asp-area="Administration" asp-controller="ApplicationUsers" asp-action="RestoreDeletedInformation" asp-route-id="@user.Id">Възстанови изтритата информация</a>
            </td>
        </tr>
}
    </tbody>
</table>