@model AOMMembers.Web.ViewModels.Careers.CareerEditModel

@{
    ViewData["Title"] = "Редактирай описанието на кариерата си";
}

<h1>@this.ViewData["Title"]</h1>

<h4>Кариера</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                @*<input asp-for="Description" class="form-control" placeholder=@Model.Description />*@
                @*<input asp-for="Description" class="form-control" value=@Model.Description />*@
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVLink" class="control-label"></label>
                @*<input asp-for="CVLink" class="form-control" placeholder=@Model.CVLink />*@
                @*<input asp-for="CVLink" class="form-control" value=@Model.CVLink />*@
                <input asp-for="CVLink" class="form-control" />
                <span asp-validation-for="CVLink" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="CitizenId" class="control-label"></label>
                <input asp-for="CitizenId" class="form-control" />
                <span asp-validation-for="CitizenId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DeletedOn" class="control-label"></label>
                <input asp-for="DeletedOn" class="form-control" />
                <span asp-validation-for="DeletedOn" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedOn" class="control-label"></label>
                <input asp-for="ModifiedOn" class="form-control" />
                <span asp-validation-for="ModifiedOn" class="text-danger"></span>
            </div>*@
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Запомни" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.Id">Обратно към кариерата</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
